<h2>\{{#liquid-measure}}</h2>

<p>This component creates an element that exposes
bindable <code>height</code> and <code>width</code> properties. It is
a lower-level building block to help build more complex dynamic
layouts.</p>

<p>It supports several methods of measuring its content:</p>

<dl class="dl-horizontal">
  <dt>self</dt>
  <dd>This is the default. The element measures its own size.</dd>

  <dt>biggestChild</dt>
  <dd>Use <code>\{{#liquid-with method="biggestChild"}}</code> to make
    the element measure its largest child.
  </dd>

  <dt>lastChild</dt>
  <dd>
    Use <code>\{{#liquid-with method="lastChild"}}</code> to make the
    element measure its last child element. This works well in
    conjunction with the other animated helpers, because when they're
    animating they will always insert new content after old content,
    so you can measure how big the final content will be even before
    it has finished animating.
  </dd>
</dl>


<p>It styles itself with <code>{display: inline-block}</code> so it
can measure both the height and width of its content, but you can
apply your own CSS to constrain one dimension if you want.</p>

<div class="callout callout-info">
  For a more practical component built on top
  of <code>\{{#liquid-measure}}</code>, see {{#link-to
  "helpers.liquid-box"}}\{{#liquid-box}}{{/link-to}}.
</div>

<h3>Demo</h3>

<p>As you edit, the measurements update to reflect the size of the
resulting post.</p>

<div id="liquid-measure-demo">
  <div>
    <h4>Editor</h4>
    {{input value=title placeholder="Your Title"}}
    {{textarea rows=3 value=body placeholder="Your post goes here..."}}
  </div>
  <div>
    <h4>Preview</h4>
    {{#liquid-measure height=postHeight width=postWidth class="post"}}
      <span class="title">{{title}}</span>
      <p>{{body}}</p>
    {{/liquid-measure}}
    <div class="size">
      {{postWidth}}px
      by 
      {{postHeight}}px
    </div>
  </div>
</div>

<br>

{{code-snippet name="liquid-measure-demo.hbs"}}
