<button {{action "toggle"}}>Toggle</button>

{{#liquid-if showFirst class="hero-scenario"}}
  <div class="index">
    <div class="bluebox"></div>
    <div class="blue-abs-box"></div>
  </div>
{{else}}
  <div class="second">
    <div class="redbox"></div>
    <div class="red-abs-box"></div>
  </div>
{{/liquid-if}}


<button {{action "toggleSort"}}>Toggle Sort</button>
<button {{action "restoreModels"}}>Reset</button>

{{#liquid-bind sortedModels class="hero-sort" as |currentModels|}}
  {{#each currentModels key="id" as |model|}}
    <div {{action "deleteModel" model}} data-model-id={{model.id}}>{{model.firstName}} {{model.lastName}}</div>
  {{/each}}
{{/liquid-bind}}