<div class="scenario-swapping-lists">
  <div>
    <button {{action "swap"}}>Swap</button>
  </div>

  {{#if showLeft}}
    {{#animated-container class="left" as |c|}}
      {{#animated-each leftItems notify=c as |item|}}
        <div>
          {{item.id}}
          <button {{action "moveRight" item}}>&rarr;</button>
        </div>
      {{/animated-each}}
    {{/animated-container}}
  {{else}}
    {{#animated-container class="right" as |c|}}
      {{#animated-each rightItems notify=c as |item|}}
        <div>
          <button {{action "moveLeft" item}}>&larr;</button>
          {{item.id}}
        </div>
      {{/animated-each}}
    {{/animated-container}}
  {{/if}}
</div>
