<h2>\{{#liquid-outlet}}</h2>

<p>Acts just like a normal Ember <code>\{{outlet}}</code>, except:</p>

<ul>
  <li>it respects the transition map and lets you animate between routes.</li>
  <li>it wraps its content in a non-virtual view, meaning that it adds
    markup. See the {{#link-to "helpers-documentation.index"}}Common
    Behavior and Options{{/link-to}} that apply to all liquid-fire
    helpers.</li>
  <li>it does not support the <code>view</code> option to override its view class.</li>
</ul>

<p>It otherwise does everything <code>\{{outlet}}</code> does,
including named outlets (like <code>\{{liquid-outlet "sidebar"}}</code>).</p>

<h3>When to use it</h3>

<p>Use this when you want to animate the transitions between
routes.</p>

<div class="callout callout-danger">This won't let you animate between
two different models on the same route, because outlets are not
involved in that process. Instead, see {{#link-to "helpers-documentation.liquid-with"}}\{{#liquid-with}}{{/link-to}}.</div>

<h3>Demo</h3>

<p>Notice that the URL changes when you click the links &mdash; these are real route transitions.</p>

{{!- BEGIN-SNIPPET outlet -}}
{{liquid-outlet class="demo-container"}}
{{!- END-SNIPPET -}}

<h4>Demo template:</h4>

{{code-snippet name="outlet.hbs"}}

<h4>Demo transition map:</h4>

{{code-snippet name="transition-demo.js"}}

