<h2>\{{#liquid-if}}</h2>

<p><code>\{{#liquid-if}}</code> is a replacement for Ember's
normal <code>\{{#if}}</code>, except it:</p>

<ul>
  <li>respects the transition map so you can animate changes between its <code>true</code>
and <code>false</code> states.</li>
  <li>wraps its content in markup to facilitate animation. See the {{#link-to "helpers-documentation.index"}}Common
    Behavior and Options{{/link-to}} that apply to all liquid-fire
    helpers.</li>
</ul>

<p><code>\{{#liquid-unless}}</code> is the complement to
<code>\{{#liquid-if}}</code>.</p>

<h3>Demo</h3>

<p>Here's a bit of a silly example that shows off the flexibility of
the transition rules.</p>

{{!- BEGIN-SNIPPET liquid-box-demo -}}
<div id="liquid-box-demo">
  <label>I'm renting a </label>
  {{view "select" value=vehicle content=vehicles}}

  {{#liquid-if isBike class="vehicles"}}
    <label>
      Would you like a helmet? {{input type="checkbox" checked="helmet"}}
    </label>
  {{else}}
    <label>License Number</label>
    {{input type="text" value=license}}
    <label>License State</label>
    {{view "select" value=state content=states}}
  {{/liquid-if}}

  <button type="button" class="btn btn-success">Yay, let's go!</button>
</div>
{{!- END-SNIPPET -}}

{{code-snippet name="liquid-box-demo.hbs"}}

{{code-snippet name="liquid-box-demo-transition.js"}}
