<button type="button" {{on "click" this.toggle}}>Toggle</button>

{{#liquid-if predicate=this.showFirst class="hero-scenario"}}
  <div class="index">
    <div class="bluebox"></div>
    <div class="blue-abs-box"></div>
  </div>
{{else}}
  <div class="second">
    <div class="redbox"></div>
    <div class="red-abs-box"></div>
  </div>
{{/liquid-if}}


<button type="button" {{on "click" this.toggleSort}}>Toggle Sort</button>
<button type="button" {{on "click" this.restoreModels}}>Reset</button>

<LiquidBind @value={{this.sortedModels}} @class="hero-sort" as |currentModels|>
  {{#each currentModels key="id" as |model|}}
    <button data-model-id={{model.id}} type="button" {{on "click" (fn this.deleteModel model)}}>{{model.firstName}} {{model.lastName}}</button>
  {{/each}}
</LiquidBind>