{{#if topic}}
  {{#if topic.route}}
    {{#link-to topic.route}}
      {{#if preGlyphicon}}
        <div {{bind-attr class=":glyphicon preGlyphicon"}}></div>
      {{/if}}
      {{topic.title}}
      {{#if postGlyphicon}}
        <div {{bind-attr class=":glyphicon postGlyphicon"}}></div>
      {{/if}}
    {{/link-to}}
  {{else}}
    {{#if preGlyphicon}}
      <div {{bind-attr class=":glyphicon preGlyphicon"}}></div>
    {{/if}}
    {{#if topic.title}}{{topic.title}}{{else}}{{topic}}{{/if}}
    {{#if postGlyphicon}}
      <div {{bind-attr class=":glyphicon postGlyphicon"}}></div>
    {{/if}}
  {{/if}}
{{/if}}

