<h2>Route Constraints</h2>

<p>The following three constraints apply to route names. They will only work with <code>\{{liquid-outlet}}</code> because only <code>\{{liquid-outlet}}</code> has visibility into routes. (The other helpers like <code>\{{liquid-if}}</code>) don't know anything about routes.)</p>

<dl class="dl-horizontal">
  <dt>fromRoute</dt>
  <dd>Matches the route name at the start of a transition.</dd>

  <dt>toRoute</dt>
  <dd>Matches the route name at the end of a transition.</dd>

  <dt>withinRoute</dt>
  <dd>Matches the same name at both the start and end of the
    transition. This is good for matching transitions that are not
    route changes.
  </dd>
</dl>

<p>Each of them accepts one argument. The argument can be a string
route name, a function that tests route names, or a list of either of
those.</p>

<p>The next three constraint apply to routes' models. They too only
work with <code>\{{liquid-outlet}}</code>.</p>

<dl class="dl-horizontal">
  <dt>fromModel</dt>
  <dd>Matches the route's model at the start of a transition.</dd>

  <dt>toModel</dt>
  <dd>Matches the route's model at the start of a transition.</dd>

  <dt>betweenModels</dt>
  <dd>A shorthand for both fromModel and toModel.</dd>
</dl>

<p>Each of them accepts a function for testing the model.</p>

{{code-snippet name="route-match-examples.js"}}
