<h2>\{{liquid-bind}}</h2>

<p>Renders a bound value into your template, and uses the transition
map to decide how to animate when the bound value changes.</p>

<p>Saying <code>\{{liquid-bind someValue}}</code> is a drop-in
replacement for <code>\{{someValue}}</code>, except this wraps the
content in <code>&lt;div class="liquid-child"&gt;</code>, so that it
can be targeted for animation.</p>

<p>By default, <code>.liquid-child</code> elements
have <code>{position: absolute}</code>, which is almost always what
you want. This implies that you need to provide positioned containers
for them.</p>

{{partial "use-option"}}

<h3>Demo</h3>

{{!- BEGIN-SNIPPET liquid-bind-demo -}}
<div id="liquid-bind-demo">
  <div>{{liquid-bind hours}}</div>:
  <div>{{liquid-bind minutes}}</div>:
  <div>{{liquid-bind seconds}}</div>
</div>
{{!- END-SNIPPET -}}

{{code-snippet name="liquid-bind-demo.hbs"}}

{{code-snippet name="bind-demo-transition.js"}}

{{code-snippet name="bind-demo-style.css"}}
