<h2>\{{liquid-bind}}</h2>

<p>Renders a bound value into your template, and uses the transition
map to decide how to animate when the bound value changes.</p>

<p>Saying <code>\{{liquid-bind someValue}}</code> is a drop-in
replacement for <code>\{{someValue}}</code>, except this wraps the
content in markup so that it can be targeted for animation. See the
{{#link-to "helpers-documentation.index"}}Common Behavior and
Options{{/link-to}} that apply to all liquid-fire helpers.</p>

<h3 id="force-tick" {{action "forceTick"}}>Demo</h3>

{{!- BEGIN-SNIPPET liquid-bind-demo -}}
<div id="liquid-bind-demo">
  {{liquid-bind hours}}:{{liquid-bind minutes}}:{{liquid-bind seconds}}
</div>
{{!- END-SNIPPET -}}

{{code-snippet name="liquid-bind-demo.hbs"}}

{{code-snippet name="bind-demo-transition.js"}}

{{code-snippet name="bind-demo-style.css"}}
