<h2>\{{#liquid-if}}</h2>

<p><code>\{{#liquid-if}}</code> is a replacement for Ember's
normal <code>\{{#if}}</code>, except it:</p>

<ul>
  <li>respects the transition map so you can animate changes between its <code>true</code>
and <code>false</code> states.</li>
  <li>wraps its content in <code>&lt;div
  class="liquid-child"&gt;</code> to facilitate animation.
</ul>

{{partial "use-option"}}

<h3>Demo</h3>

{{!- BEGIN-SNIPPET liquid-box-demo -}}
<div id="liquid-box-demo">
  <label>I'm renting a </label>
  {{view "select" value=vehicle content=vehicles}}

  {{#liquid-if isBike class="vehicles"}}
    <label>
      Would you like a helmet? {{input type="checkbox" value="helmet"}}
    </label>
  {{else}}
    <label>License Number</label>
    {{input type="text" value=license}}
    <label>License State</label>
    {{view "select" value=state content=states}}
  {{/liquid-if}}

  <button type="button" class="btn btn-success">Yay, let's go!</button>
</div>
{{!- END-SNIPPET -}}

{{code-snippet name="liquid-box-demo.hbs"}}

{{code-snippet name="liquid-box-demo-transition.js"}}
