{{liquid-modal currentContext=modalContexts.firstObject dismiss="dismissModal"}}

<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">Liquid Fire</div>
      <div class="col-xs-6" style="text-align: right">
        <a href="https://github.com/ef4/liquid-fire">
          <img src="GitHub-Mark-Light-32px.png">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container main">
  <div>
    <div class="content">
      <div class="clearfix">
        {{nav-link topic=prevTopic direction="back"}}
        {{nav-link topic=nextTopic direction="forward"}}
      </div>
      {{outlet}}
      <div class="clearfix">
        {{nav-link topic=prevTopic direction="back"}}
        {{nav-link topic=nextTopic direction="forward"}}
      </div>
    </div>

    <ul>
      {{#each tableOfContents}}
      <li>
        {{#if route}}
          {{#link-to route}}{{title}}{{/link-to}}
        {{else}}
          {{title}}
        {{/if}}

        {{#if children}}
          <ul>
          {{#each child in children}}
            <li>
              {{#if child.route}}
                {{#link-to child.route}}{{child.title}}{{/link-to}}
              {{else}}
                {{child}}
              {{/if}}
            </li>
          {{/each}}
          </ul>
        {{/if}}
      </li>
      {{/each}}
    </ul>
  </div>
</div>


